$background-front: black;
$color-front: violet;
$background-back: violet;
$color-back: black;
$cell-shadow: -3px -3px 10px white, 3px 3px 10px violet;

$font: 'Hachi Maru Pop', cursive;
$font-size: 34px;
