.card {
  @include center;
  @include cardGeneralStyles;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.7s;
  box-shadow: $cell-shadow;
  border-radius: 13px;

  &--front {
    background-color: $background-front;
    color: $color-front;
  }

  &--back {
    background-color: $background-back;
    transform: rotateY(180deg);
  }
}
