.cell {
  border-radius: 13px;
  overflow: hidden;
  position: relative;
  perspective: 1000px;
  transition: all 0.7s;
  box-shadow: $cell-shadow;

  &:hover {
    transform: rotateY(180deg);
  }

  &--medium {
    grid-column: span 2;
  }

  &--big {
    grid-column: span 2;
    grid-row: span 2;
  }
}
