.cell {
  border-radius: 13px;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  backface-visibility: hidden;
  transition: all 0.7s;
  box-shadow: $cell-shadow;

  &:hover {
    .card {
      transform: rotateX(180deg);
    }
  }

  &--medium {
    grid-column: span 2;
  }

  &--big {
    grid-column: span 2;
    grid-row: span 2;
  }
}
